<div>
    <form #f="ngForm" (ngSubmit)="f.form.valid ? checkCirculation() : setError()">
        <label for="plate" class="form-label">{{'carInfo.plate' | translate}}:</label>
        <input id="plate" name="plate" type="text" class="form-control" [(ngModel)]="checkCirculationModel.plate" [pattern]="appConstants.REGEX.PLATE" (blur)="checkPlate()" required>
        <p *ngIf="!isValidPlate">Invalid Plate</p>

        <button type="submit" class="btn btn-dark mt-4" [disabled]="!f.form.valid">{{'buttons.check' | translate}}</button>
    </form>
</div>