@import "../../variables.sass"
.schedule-card
    font-family: 'Lilita One', cursive !important
    text-align: center
    h5
        font-size: 26px
        white-space: nowrap
        color: $principalColor
        margin: 0
    p
        font-size: 20px
        margin: 0
