$principalColor: #1768e1
$secondaryColor: #22c56b
$lightText: #fff
$lightBlue: #2570ba
$h1Color: #1768e1
$hoverColor: rgba(0,0,0,.2)
$greenHover: #0a6332
$darkBlue: #10171e
$darkGray: #333
$blueBackground: #0964ecc7
$placeholderColor: #eee
$warningBackground: rgba(255, 0, 0, 0.247)
$normalFontSize: 16px
$bodyBackground: #f0f0e4

h2
  color: $secondaryColor

h1, h2, h3, h4
  font-weight: bolder

textarea:focus, input:focus
  outline: none