<div class="p-5">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">{{'circulation.table.day' | translate}}</th>
                <th scope="col">{{'circulation.table.info' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{'days.monday' | translate}}</th>
                <td>Car Plates ending in 1 and 2</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.tuesday' | translate }}</th>
                <td>Car Plates ending in 3 and 4</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.wednesday' | translate }}</th>
                <td>Car Plates ending in 5 and 6</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.thursday' | translate }}</th>
                <td>Car Plates ending in 7 and 8</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.friday' | translate }}</th>
                <td>Car Plates ending in 9 and 0</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.saturday' | translate }}</th>
                <td>Free circulation</td>
            </tr>
            <tr>
                <th scope="row">{{ 'days.sunday' | translate }}</th>
                <td>Free circulation</td>
            </tr>
        </tbody>
    </table>
</div>