<div class="p-5">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Day</th>
                <th scope="col">Car Plates that cannot circulate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Monday</th>
                <td>Car Plates ending in 1 and 2</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td>Car Plates ending in 3 and 4</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td>Car Plates ending in 5 and 6</td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td>Car Plates ending in 7 and 8</td>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <td>Car Plates ending in 9 and 0</td>
            </tr>
            <tr>
                <th scope="row">Saturday</th>
                <td>Free circulation</td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>
                <td>Free circulation</td>
            </tr>
        </tbody>
    </table>
</div>